.accordion{
    background-color: #fefffa;
  border-top: 6px solid #212529;
  line-height: 1.6;
  box-shadow: 5px 5px 10px 0px #a4bac1;
}


.accordion-item{

    border-bottom: 1px solid #212529;
}

.accordion-button{
    height: 2.5em;
   color: black;
}

.header{
    font-size: 1.3em;
    text-align: center;

   
}