{% extends 'base_student.html' %}

{% load static %}

{% block body %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>course-single.html </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'feedback.css' %}">
   <style>

    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    .stars {
      color: yellow;
    }

   </style>
  </head>
  <body>

    
    <div class="container my-5 bg-light shadow-sm pb-4">

        <div class="row p-4">

            <div class="col-8 pt-5">

                <h1 class="mb-5 text-capitalize">
                   {{ course.name }}
                </h1>

                <h1 class="fs-4 fw-medium text-capitalize mb-5">
                    Instructor - {{ course.instructor_name }}
                </h1>

                <h1 class="fs-5 fw-light" style="color: #161c2d; font-family: 'Roboto', sans-serif ;">

                   {{ course.description }}
                </h1>

                <a class="btn btn-info mt-3" href="{% url 'video-pagination' course.id %}"> get started </a>
    
            </div>
    
            <div class="col-4 shadow border p-2"> 

                <img src="{% static 'images/product-6.jpg' %}" class="img-fluid border">
    
               <h1 class="fs-3 d-flex justify-content-center mt-2" style="color: #2F2D51; font-family: 'Roboto', sans-serif ;"> Price - {{ course.price }} </h1>

                <div class="d-grid gap-2" style="font-family: 'Roboto', sans-serif ;">
                 
              {% if request.session.email %}
          
            
              <a href="{% url 'enrollment' course.id %}" class="btn btn-danger mb-3"> Buy Now </a>
        
               {% else %}

              <a href="{% url 'login' %}" class="btn btn-danger mb-3">Enroll me</a>

             {% endif %}
       
                  </div>

                  <div class="d-flex justify-content-center">
                    <ul class="list-unstyled">
                        <li> <h6> <i class="fa-solid fa-clock me-3"></i> Durations - {{ course.time_needed }} </h6></li>
                        <li> <h6> <i class="fa-solid fa-book-open me-3"></i> Lectures  </h6> </li>
                        <li> <h6> <i class="fa-solid fa-book-open-reader me-3"></i> Enrolled - {{ length }} </h6>  </li>
                        <li> <h6> <i class="fa-solid fa-language me-3"></i>  Language - English </h6>  </li>
                    </ul>
          
                </div>
               
                

    
            </div>
    
    
        </div>

        <div class="row">

          <div class="col">
         
            {% for quiz in quizs %}


             <div class="border p-4 bg-white" style="position: relative;">
                <a class="fs-5 fw-semibold text-black text-decoration-none stretched-link" href="{% url 'student_quiz_show' quiz.course_id quiz.id %}">  {{ quiz.quiz_name }} </a>
             </div>
           
          

            

            {% endfor %}

         
 
          </div>

        

          
  
        
  

        </div>

        {% if request.session.email %}
        <div class="row p-4">
          <div class="col-6 p-4 border d-flex flex-column">
      
            <form method="POST" action="{% url 'student_feedback' course.id %}">

              {% csrf_token %}
        
              <div>
                <h1 class="fs-4 fw-semibold">
                  Add review & Rate 
                </h1>
              </div>
        
        

                  <div class="star-widget mb-5" style="width: 155px;">          
                    <input type="radio" name="rate" id="rate-5" value="5" required>
                    <label for="rate-5" class="fa-solid fa-star"> </label>
                    <input type="radio" name="rate" id="rate-4" value="4" required>
                    <label for="rate-4" class="fa-solid fa-star"> </label>
                    <input type="radio" name="rate" id="rate-3" value="3" required>
                    <label for="rate-3" class="fa-solid fa-star"></label>
                    <input type="radio" name="rate" id="rate-2" value="2" required>
                    <label for="rate-2"  class="fa-solid fa-star"> </label>
                    <input type="radio" name="rate" id="rate-1" value="1" required>
                    <label for="rate-1" class="fa-solid fa-star"> </label>
        
                </div>
             
        
          
                <div class="form-group my-3">
                  <label for="exampleFormControlTextarea1" class="fs-4 fw-semibold"> Write review </label>
                 <textarea class="form-control placeholder-1" id="exampleFormControlTextarea1" rows="5" name="feedback" placeholder="Content" required></textarea>
              </div>
        
        
        
            
           
          <button type="submit" class="btn btn-danger"> Post </button>
        
            </form>
        
        
        
        
        </div>

        </div>
        {% endif %}

        {% if feedback %}

        {% for feed in feedback %}
 
        <div class="col-6">


           <h1 class="fs-5 fw-normal"> {{ feed.user_name }}</h1>

           <h1 class="fs-5 fw-normal"> {{ feed.star  }} <i class="fa-solid fa-star" style="color: #e59819;"></i></h1>
          <h1 class="fs-5 fw-normal"> {{ feed.feedback }} </h1>

        </div>

        {% endfor %}
        {% endif %}

    </div>
   
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  
    
</body>
</html>


{% endblock %}