{% extends 'base_student.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block body %}

    <div class="container mt-3 ">

        

        {% if courses %}

        

          <div class="row">

            {% for res in courses %}
    
            <div class="col-3 me-3 border shadow rounded" style="position: relative;">

              <div class="my-2">
                  <img src="{% static 'images/product-15.jpg' %}" class="rounded shadow-sm">
              </div>
      
              <div class="d-flex justify-content-between">
                  <div class="ms-2">
                     <h6 class="fw-semibold text-capitalize" style="color: #2f2d51;">  {{  res.instructor_name }} </h6>
                  </div>
                  <div class="me-2">
                     <h6 class="fw-semibold text-capitalize" style="color: #2f2d51;"> {{ res.rating }}   <i class="fa-solid fa-star" style="color: #e59819;"></i>  <span style="color: rgb(159, 155, 155);"> ({{res.rated}}) </span></h6>
                  
                  </div>
                 </div>
                       
              <div class="ms-2">
                  <h5 class="fw-semibold text-capitalize" style="color: #77838F;;"> {{ res.name }} </h5>
      
              </div>
      
             <a href="{% url 'course-single' res.id  %}" class="btn btn-primary stretched-link mb-2 ms-2"> Go to Course </a>
              </div>
                
            
                  
            {% endfor %}

          </div>

       

        {% else %}

        <h1 class="fs-4 fw-semibold"> you are not any courses enrollment </h1>
       
    
        {% endif %}
    
        
    </div>

   
   {% endblock %}
  

</body>
</html>