{% extends 'base_student.html' %}

{% load static %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search results </title>
    <link rel="stylesheet" href="{% static 'search.css' %}">
</head>

<body>


<div class="container mt-3 bg-light">
  
  {% if results %}

  
    <div class="ms-5 pt-3">
      <h2 class="fs-4"> Search results: </h2>

    </div>

    {% for res in results %}

    <div class="row d-flex justify-content-between p-2">
        <div class="col-4 pt-2">

          {% if forloop.counter == 1 %}
          <form method="GET" id="myForm" action="{% url 'search_filter' %}">
            <div class="select-box">
                <div class="select-box__current" tabindex="1" >
                    <div class="select-box__value">
          <input class="select-box__input" type="radio" id="0" value="most_relevent" name="sort" onclick="submitForm()" checked="checked"/>
                        <p class="select-box__input-text"> 
                           {% if sort_by == 'reviewed' %}
                           Most Reviewed
                           {% elif sort_by == 'rated' %}
                           Highest Rated
                           {% elif sort_by == 'price' %}
                           Price
                           {% elif sort_by == 'newest' %}
                           Newest
                           {% else %}
                           Most Relevent 
                           {% endif %}
                        </p>
                      </div>
                  <div class="select-box__value">
                    <input class="select-box__input" type="radio" id="1" value="reviewed" name="sort" onclick="submitForm()">
                    <p class="select-box__input-text"> Most Reviewed </p>
                  </div>
                  <div class="select-box__value">
                    <input class="select-box__input" type="radio" id="2" value="rated" name="sort" onclick="submitForm()"/>
                    <p class="select-box__input-text"> Highest rated  </p>
                  </div>
                  <div class="select-box__value">
                    <input class="select-box__input" type="radio" id="3" value="price" name="sort" onclick="submitForm()"/>
                    <p class="select-box__input-text"> Price </p>
                  </div>
                  <div class="select-box__value">
                    <input class="select-box__input" type="radio" id="4" value="newest" name="sort" onclick="submitForm()" />
                    <p class="select-box__input-text"> Newest </p>
                  </div><img class="select-box__icon" src="http://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
                </div>
                <ul class="select-box__list">
                    <li>
                   <label class="select-box__option" for="0" aria-hidden="aria-hidden">Most Relevent </label>
                      </li>
                  <li>
                    <label class="select-box__option" for="1" aria-hidden="aria-hidden"> Most Reviewed </label>
                  </li>
                  <li>
                    <label class="select-box__option" for="2" aria-hidden="aria-hidden"> Highest Rated </label>
                  </li>
                  <li>
                    <label class="select-box__option" for="3" aria-hidden="aria-hidden">Price</label>
                  </li>
                  <li>
                    <label class="select-box__option" for="4" aria-hidden="aria-hidden">Newest</label>
                  </li>
                  
                </ul>
              </div>
          
          </form>
          {% endif %}
         
        </div>
       
        <div class="col-7" style="position: relative;">

            <div class="row my-2">
                <div class="col-6">
                    <img src="{% static 'images/product-23.jpg' %}" style="height: 160px;">

                </div>
                <div class="col-6">
                    <h3 class="fs-4 fw-semibold"> {{ res.name }} </h3>
                    <h3 class="fs-6 fw-normal"> Instructor Name - {{ res.instructor_name }}  </h3>
                    <h3 class="fs-5 fw-normal"> Price - {{ res.price }}  </h3>
                    <h3 class="fs-6 fw-normal"> {{ res.rating}}  <i class="fa-solid fa-star" style="color: #e59819;"></i><span class="fs-6"> ({{res.rated}}) </span></h3>
                   <h3 class="fs-6 fw-semibold" style="color: rgba(175, 174, 174, 0.861);"> Total Hours - 25 / All levels  </h3>
                    <h3 class="fs-6 fw-medium"> {{ res.created_at }} </h3>
                   <a href="{% url 'course-single' res.id %}" class="stretched-link"> </a>
                  </div>
              
          </div>
       
          <hr>
        </div>

    </div>

    {% endfor %}

  {% else %}

   <div class="mt-4">
    <h2 class="fs-4"> Search results: </h2>
  <h2 class="fs-4 fw-normal"> no results found !! please write spelling correctly. </h2>
   </div>


  {% endif %}
 

  </div>




  <script>
    function submitForm() {
      document.getElementById("myForm").submit();
    }
  </script>

  {% endblock %}



</body>

</html>