{% extends 'base_student.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

  {% block body %}

  <div class="container">

    <h1 class="ms-3 mb-4"> search results : {{ query }} </h1>

    {% if results %}

    <div class="d-flex flex-row">

      {% for res in results %}


{{ res.name }}

{{ res.instructor }}

      {% endfor %}
    </div>



    {% else %}

    <h1 class="fs-4 fw-semibold ms-3"> no results found !! please write spelling correctly. </h1>

    {% endif %}

  </div>


  {% endblock %}

</body>

</html>