{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        img {
            width: 100%;
            height: 100%;
          }
          
          .bg-black {
            background: #000;
          }
          
          .skill-block {
            width: 30%;
          }
    </style>
    <title> Course </title>
</head>

  {% if ta.is_TA %}
  <nav class="navbar navbar-expand-lg bg-dark-subtle">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home2' %}">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto ">

        
          {% if request.session.email %}
          <li class="nav-item me-4 fs-5">
            <a class="nav-link" aria-current="page" href="{% url 'course-list-TA' %}">TAship</a>
          </li>
          {% endif %}

          {% if request.session.email %}
          <li class="nav-item me-4 fs-5">
            <a class="nav-link" href="{% url 'indexpage' %}"> My Courses </a>
          </li>
         {% endif %}

          <li class="nav-item me-4 fs-5 mb-md-0 mt-md-1">
           
            <form method="GET" action="/search/" class="d-flex">
                <input type="search" class="form-control me-2" name="query" placeholder="search">
                <button type="submit" class="btn btn-success"> Search </button>
              </form>


          </li>
         
         
          <!-- <li class="nav-item me-4 fs-5">
            <a class="nav-link">  <img src="/hiten-skola/user-solid.svg" alt="..." class="text-dark"> </a>
            
          </li> -->
          {% if request.session.email %}
          <li class="nav-item me-4 fs-5 mt-2 mb-md-0 mt-md-1">
            <button type="button" class="btn btn-primary mb-3" onclick="location.href='{% url 'logout' %}'"> logout </button>
          </li>

          {% else %}
          <li class="nav-item me-4 fs-5 mt-2 mb-md-0 mt-md-1">
            <button type="button" class="btn btn-primary mb-3" onclick="location.href='{% url 'login' %}'"> Login </button>
          </li>
          <li class="nav-item me-4 fs-5 mt-md-1">
            <button type="button" class="btn btn-danger" onclick="location.href='{% url 'signup' %}'"> Sign Up</button>
          </li>

          {% endif %}

          {% if request.session.email %}
          <li class="nav-item me-4 fs-5 mt-2 mb-md-0 mt-md-1">
            <a href="{% url 'student-profile' %}" class="text-decoration-none text-black fs-4"> <i class="fa-solid fa-user"></i> </a>
          </li>
          {% endif %}

          {% if request.session.email %}
            <li class="nav-item me-4 fs-5 mt-2 mb-md-0 mt-md-1">
              <a href="{% url 'notification' %}" class="text-decoration-none {% if new_notifications == True %} text-danger {% else %} text-black {% endif %} fs-4">
                <i class="fa-solid fa-bell "></i>
              </a>
            </li>
          {% endif %}                  
        </ul>
       
      </div>
    </div>
  </nav>
  {% endif %}
  {% if user.is_instructor%}
  <div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="custom-menu">
      <button type="button" id="sidebarCollapse" class="btn btn-primary">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
    </div>
    <h1><a href="index.html" class="logo">Nav Bar </a></h1>
    <ul class="list-unstyled components mb-5">
      <li>
        <a href="{% url 'home' %}"><span class="fa fa-home mr-3"></span> Homepage</a>
      </li>
      <li>
          <a href="{% url 'display2' %}"><span class="fa-brands fa-youtube mr-3"> </span> Course</a>
      </li>

      <li class="active">
        <a href="{% url 'add-course' %}"><span class="fa-solid fa-plus mr-3"> </span> Add Course</a>
      </li>
      <li>
        <a href="{% url 'notification' %}"><span class="fa-solid fa-bell mr-3"></span> Notifications </a>
      </li>
      <li>
        <a href="{% url 'logout' %}"><span class="fa-solid fa-right-from-bracket  mr-3"></span> Logout </a>
      </li>
      <li>
        <a href="#"><span class="fa fa-paper-plane mr-3"></span> Information</a>
      </li>
    </ul>

  </nav>
  {% endif %}
<div class="container mt-5 mb-5">
    <div class="row no-gutters">
        <div class="col-md-4 col-lg-4"><img src="https://i.imgur.com/aCwpF7V.jpg"></div>
        <div class="col-md-8 col-lg-8">
            <div class="d-flex flex-column">
                <div class="d-flex flex-row justify-content-between align-items-center p-5 bg-dark text-white">
                    <h3 class="display-5">{{course.name}}</h3><i class="fa fa-facebook"></i><i class="fa fa-google"></i><i class="fa fa-youtube-play"></i><i class="fa fa-dribbble"></i><i class="fa fa-linkedin"></i></div>
                <div class="p-3 bg-black text-white">
                    <h6>{{course.description}}</h6>
                </div>
                <div class="d-flex flex-row text-white">
                    <div class="p-4 bg-primary text-center skill-block">
                        <h4>Time Needed</h4>
                        <h6>{{course.time_needed}}</h6>
                    </div>
                    <div class="p-3 bg-success text-center skill-block">
                        <h4>Created</h4>
                        <h6>{{course.created_at}}</h6>
                    </div>
                    <div class="p-3 bg-warning text-center skill-block">
                        <h4>Price</h4>
                        <h6>{{course.price}}</h6>
                    </div>
                    <div class="p-3 bg-danger text-center skill-block">
                        <h4>Enrolled</h4>
                        <h6>{{ course.enrolled.count }}</h6>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="d-flex flex-raw text-white">
          <div class="p-3 text-center skill-block">
            <a href={% url 'video_upload' course.id %}> <button class="btn btn-primary">Video Room</button></a>
          </div>
          <div class="p-3 text-center skill-block">
            <a href={% url 'quizz' course.id %}> <button class="btn btn-success">Quiz Room</button></a> 
          </div>
          <div class="p-3 text-center skill-block">
            <a href={% url 'instructor-doubt' course.id %}> <button class="btn btn-warning">Doubt Room</button></a>
          </div>
          <div class="p-3 text-center skill-block">
            <a href={% url 'annoucement' course.id %}> <button class="btn btn-secondary">Announcement Board</button></a>
          </div>
          <div class="p-3 text-center skill-block">
            {% if user.is_instructor == True %}<a href={% url 'edit_course' course.id %}> <button class="btn btn-dark">Edit</button></a>{% endif %} 
          </div>
          <div class="p-3 text-center skill-block">
            {% if user.is_instructor == True %}<a href={% url 'delete_course' course.id %}> <button class="btn btn-danger">Delete</button></a>{% endif %}
          </div>
          <div class="p-3 text-center skill-block">
            {% if user.is_instructor == True %}<a href={% url 'TA-list' course.id %}> <button class="btn btn-danger">Teaching Assistance</button></a>{% endif %}
          </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Student Name</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for us in enrolled_users %}
          <tr>
            <td>{{ us.name }}</td>
            <td>{{ us.email }}</td>
            {% if user.is_instructor == True %}<td><a href=#> <button class="btn btn-primary">Delete</button></a></td>{% endif %}
          </tr>    
        {% endfor %}
        </tbody>
      </table>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>