{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title> Add Course </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'courseadd.css' %}">
        <script>
          function startCountdown() {
            console.log("startCountdown function called");
            var countdownTime = 5; // 5 seconds
          
            var countdownInterval = setInterval(function() {
              countdownTime--;
          
              if (countdownTime < 0) {
                clearInterval(countdownInterval);
                var messageElement = document.querySelector('.alert.alert-primary');
                if (messageElement) {
                  messageElement.remove();
                }
              }
            }, 1000); // Update countdown every second
          
            return countdownInterval; // Return the interval reference
          }
          
          window.onload = function() {
            startCountdown();
          };
        </script>
  </head>
  <body>
		{% if messages %}
      <div class="alert alert-primary mt-2" role="alert">
        <ul class="messages">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
	  		<h1><a href="index.html" class="logo">Nav Bar </a></h1>
        <ul class="list-unstyled components mb-5">
          <li>
            <a href="{% url 'home' %}"><span class="fa fa-home mr-3"></span> Homepage</a>
          </li>
          <li>
              <a href="{% url 'display2' %}"><span class="fa-brands fa-youtube mr-3"> </span> Course</a>
          </li>

          <li class="active">
            <a href=""><span class="fa-solid fa-plus mr-3"> </span> Add Course</a>
          </li>
          <li>
            <a href="{% url 'notification' %}"><span class="fa-solid fa-bell mr-3"></span> Notifications </a>
          </li>
          <li>
            <a href="{% url 'logout' %}"><span class="fa-solid fa-right-from-bracket  mr-3"></span> Logout </a>
          </li>
          <li>
            <a href="#"><span class="fa fa-paper-plane mr-3"></span> Information</a>
          </li>
        </ul>

    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
         
       
<!-- 
            <a> <div class="addjob"> <i class="fa-solid fa-plus"></i> New Job</div> </a> -->
            
             <div class="userimage">
               <h2 class="mb-4"> Add Course </h2>
              
             </div>

             <form method="POST" enctype="multipart/form-data">
               {% csrf_token %} 
               <table class="table table-hover">
                 <tr>
                   <td>  Course Name  </td>
                   <td>:</td>
                   <td> <input type="text" name="name" required> </td>
                 </tr>
                 <tr>
                   <td> Description </td>
                   <td>:</td>
                   <td> <textarea name="description" style="width: 450px; height: 150px;"></textarea> </td>
                 </tr>
                 
                 <tr>
                  <td> 
                    Time Needed to Complete 
                  </td>
                  <td> : </td>
                  <td >
                    <input type="text" name="time_needed" required>
                  </td>
                 
                 </tr>
               
                 <tr>
                  <td> 
                    Price(in Rupees)
                  </td>
                  <td> : </td>
                  <td >
                    <input type="text" name="price" required>
                  </td>
                 
                 </tr>

                 <tr>
                  <td>
                    Upload QR Code Image :
                  </td>
                  <td> : </td>
                  <td>
                    <input type="file" name="qrcode" accept="image/jpeg, image/png">
                  </td>
                 </tr>

                 <tr class="fw-semibold" style="color: red;">
                  <td>
                   
                  </td>
                  <td>
                   
                    </td>
                    <td>
                      <i class="fa-solid fa-arrow-up fs-4"></i>  Please Provide QR  code with set course price amount
                    </td>
                 </tr>
               
               </table>
       
               <!-- <button class="submit" type="button">Save changes</button> -->
               <button type="submit" class="btn btn-primary submit" value="insert">Add course</button>
             </form>
       
          
        </div>
		</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/timer.js"></script>
  </body>
</html>