{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title> course add form </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
    
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
	  		<h1><a href="index.html" class="logo">Nav Bar </a></h1>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="{% url 'home' %}"><span class="fa fa-home mr-3"></span> Homepage</a>
          </li>
          <li>
              <a href="{% url 'display2' %}"><span class="fa-brands fa-youtube mr-3"> </span> Course</a>
          </li>

          <li >
            <a href="{% url 'add-course' %}"><span class="fa-solid fa-plus mr-3"> </span> Add Course</a>
          </li>
          <li>
            <a href="{% url 'notification' %}"><span class="fa-solid fa-bell mr-3"></span> Notifications </a>
          </li>
          <li>
            <a href="{% url 'logout' %}"><span class="fa-solid fa-right-from-bracket  mr-3"></span> Logout </a>
          </li>
          <li>
            <a href="#"><span class="fa fa-paper-plane mr-3"></span> Information</a>
          </li>
        </ul>

    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
         
       
<!-- 
            <a> <div class="addjob"> <i class="fa-solid fa-plus"></i> New Job</div> </a> -->
          
              <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                      <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white"
                          style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                            alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                          <h5 class="text text-dark">{{ user.name }}</h5>
                          <p class="text text-dark">{{ user.qualification }}</p>
                          <i class="far fa-edit mb-5"></i>
                        </div>
                        <div class="col-md-8">
                          <div class="card-body p-4">
                            <h6>Information</h6>
                            <hr class="mt-0 mb-4">
                            <div class="row pt-1">
                              <div class="col-6 mb-3">
                                <h6>Email</h6>
                                <p class="text-muted">{{ user.email }}</p>
                              </div>
                            </div>
                            <hr class="mt-0 mb-4">
                            <div class="d-flex justify-content-start">
                              <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                              <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                              <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
         
          
        </div>
		</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>